# Node modules
node_modules/

# Env files
.env

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# Vite cache
.vite/

# Editor files
*.sublime-workspace
*.sublime-project
.idea/
.vscode/

